* {
  border-radius: 1rem;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 25rem;
  width: 20rem;
  margin-top: 1rem;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1.5rem;
}

.display {
  background-color: white;
  height: 4rem;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.display-text {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

.buttons-container {
  width: 100%;
  height: 70%;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
