body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 80vh;
  width: 30vw;
  margin-top: 5vh;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.main-container-display {
  background-color: white;
  height: 10vh;
  width: 25vw;
  border: 1px solid black;
  margin-top: 5vh;
}
