* {
  border-radius: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 30rem;
  width: 25rem;
  margin-top: 1rem;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-container-display {
  background-color: white;
  height: 4rem;
  width: 21rem;
  border: 1px solid black;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.main-container-display-text {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.main-container-keys {
  display: flex;
}
