* {
  border-radius: 1rem;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 30rem;
  width: 22rem;
  margin-top: 1rem;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.main-container-display {
  background-color: white;
  height: 4rem;
  width: 21rem;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.main-container-display-text {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.main-container-keys {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 1rem;
}

.main-container-keys-digits {
  display: flex;
  flex-wrap: wrap;
}

.main-container-keys-digits-row {
  display: flex;
  width: 100%;
}

.main-container-keys-operators {
  display: flex;
  flex-wrap: wrap;
}

.main-container-keys-key {
  border: 1px solid black;
  background-color: white;
  height: 3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.main-container-keys-key:hover {
  background-color: darkgrey;
}

.main-container-keys-key:active {
  background-color: gray;
}
